Oscar Palm <palmoscar4@gmail.com> x183

Max Hagman <maxhagman@hotmail.se> Krysset
Max Hagman <maxebrax@gmail.com> =
Lukas Åkefeldt <lukas.akefeldt@gmail.com> låke <91898187+lutches@users.noreply.github.com> 


Felix Bjerhem Aronsson <felix.b.aronsson@gmail.com> Supergamer1337 
