Oscar Palm <palmoscar4@gmail.com> x183

Max Hagman <maxhagman@hotmail.se> Krysset =
Lukas Åkefeldt <lukas.akefeldt@gmail.com> låke


Felix Bjerhem Aronsson <felix.b.aronsson@gmail.com> Supergamer1337 
